/* Accessibility: hide screen reader texts (and prefer "top" for RTL languages).
Reference: http://blog.rrwd.nl/2015/04/04/the-screen-reader-text-class-why-and-how/ */

/* Hide native play button and control bar from iOS to favor plugin button */

/* Start: LAYERS */

@keyframes mejs__loading-spinner {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/* End: LAYERS */

/* Start: CONTROL BAR */

/* :focus for accessibility */

/* End: CONTROL BAR */

/* Start: Time (Current / Duration) */

/* End: Time (Current / Duration) */

/* Start: Play/Pause/Stop */

/* End: Play/Pause/Stop */

/* Start: Progress Bar */

@-webkit-keyframes buffering-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}

@keyframes buffering-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}

/* End: Progress Bar */

/* Start: Fullscreen */

/* End: Fullscreen */

/* Start: Mute/Volume */

/* End: Mute/Volume */

/* Start: Track (Captions and Chapters) */

/* End: Track (Captions and Chapters) */

/* Start: Error */
/* End: Error */