<!-- footer -->
<footer id="footer">
    <div class="container">
         <div class="row">
              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Headquarter</h2>
                        </div>
                        <address>
                             <p>Collage of Information and Technologies , University Of Dar Es Salaam</p>
                        </address>
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Contact Info</h2>
                        </div>
                        <address>
                             <p>+255 744 011111</p>
                             <p><a href="mailto:youremail.co">udsm@ai.com</a></p>
                        </address>


                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                         <div class="section-title">
                              <h2>Social</h2>
                         </div>

                         <ul class="social-icon">
                              <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                              <li><a href="#" class="fa fa-twitter"></a></li>
                              <li><a href="#" class="fa fa-instagram"></a></li>
                         </ul>

                         <div class="copyright-text">
                              <p>Copyright &copy; 2023 UDMS AI</p>

                              <p><a href="https://eddiegulay.me" target="_blank"> Designer</a> </p>
                         </div>
                    </div>
               </div>

         </div>
    </div>
</footer>